#footer{
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    .socials{
        svg{
            fill: #FFF;
        }
    }
    .menu, .icon-list{
        li{
            margin-bottom: .5em;
        }
        a{
            &:hover{
                color: var(--color-green);
            }
        }
    }
    .icon-list{
        img, svg{
            transform: translateY(3px);
        }
    }
    .form-wrapper{
        .inputs{
            display: flex;
            align-items: stretch;
            border-radius: 5px;
            .wpcf7-form-control-wrap{
                margin: 0;
            }
            input[type=email]{
                height: 50px;
                padding: 0 10px;
                background-color: transparent;
                border: 0;
                gap: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
            button{
                flex: auto;
                width: 50px;
                height: auto;
                background: none;
                color: #000;
                padding: 0;
                &:hover{
                    outline: none;
                    box-shadow: none;
                    color: var(--color-green);
                }
                svg{
                    height: 1.5em;
                    width: auto;
                }
            }
        }
    }
}