html {
    scroll-behavior: smooth;
}

body {
    font-family: $bevietnam;
    position: relative;
    padding-top: var(--header-height);

    &.menu-actived {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

.wrapper {
    width: calc(100% - 200px);
    margin: 0 auto;
    position: relative;

    @include responsive(lg) {
        width: 100%;
        padding: 0 15px;
    }
}

#main-content {
    position: relative;
    z-index: 2;
}

select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
}

.entry-content {
    p {
        margin-bottom: 1em;
    }

    b,
    strong {
        font-weight: bold;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        margin-bottom: .5em;
    }

    h1 {
        font-size: 2.25rem;
        /* 36px */
        line-height: 2.5rem;
        /* 40px */
    }

    h2 {
        font-size: 1.875rem;
        /* 30px */
        line-height: 2.25rem;
    }

    h3 {
        font-size: 1.5rem;
        /* 24px */
        line-height: 2rem;
        /* 32px */
    }

    h4 {
        font-size: 1.25rem;
        /* 20px */
        line-height: 1.75rem;
        /* 28px */
    }

    h5 {
        font-size: 1.125rem;
        /* 18px */
        line-height: 1.75rem;
        /* 28px */
    }

    h6 {
        font-size: 1rem;
        /* 16px */
        line-height: 1.5rem;
        /* 24px */
    }

    figure,
    img {
        max-width: 100%;
        margin: 1em 0;

        &:first-of-type {
            margin-top: 0 !important;
        }

        &.alignleft {
            float: left;
            margin: 1em 2em 1em 0;
            max-width: 50%;

            @include responsive(sm) {
                width: 100%;
            }
        }

        &.alignright {
            float: right;
            margin: 1em 0 1em 2em;
            max-width: 50%;

            @include responsive(sm) {
                width: 100%;
            }
        }
    }
}

.rank-math-breadcrumb {
    text-transform: uppercase;
    font-size: .9em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include responsive(sm) {
        font-size: 13px;
    }
}

.custom-nav-tabs {
    .nav-link {
        &[data-te-nav-active]{
            color: var(--color-green);
            border-color: var(--color-green);
        }
    }
}

.form-wrapper {
    form {
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 50px;
            height: 50px;
            background: url(../img/spin.svg) no-repeat center;
            background-size: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 100;
            opacity: 1 !important;
            display: none;
        }
    }

    .inputs {
        display: flex;
        gap: 1em;
    }

    .wpcf7-form-control-wrap {
        display: block;
        margin-bottom: 1em;
        position: relative;

        input,
        textarea {
            width: 100%;
            height: 50px;
            border: 1px solid #DDD;
            border-radius: 5px;
            padding: 0 15px;
        }

        textarea {
            height: 120px;
            padding: 15px;
        }

        .wpcf7-not-valid-tip {
            font-size: 13px;
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            opacity: .75;
        }
    }

    .wpcf7-form {
        .wpcf7-response-output {
            margin: 0 0 1.5em;
            padding: .5em 1em;
            border: 0;
            font-size: .8em;
            border-radius: 5px;
        }

        &.invalid {
            .wpcf7-response-output {
                background-color: rgba(red, .1);
                color: darken(red, 10%);
            }
        }

        &.sent {
            .wpcf7-response-output {
                background-color: var(--color-green-100);
                color: var(--color-green);
            }
        }

        &.submitting {
            >* {
                opacity: .3;
                pointer-events: none;
            }

            &::after {
                display: block;
            }
        }
    }
}

.viewmore-btn {

    img,
    svg {
        transition: transform .3s ease;
    }

    &:hover {

        img,
        svg {
            transform: translateX(5px);
        }
    }
}

.wp-pagenavi {
    display: flex;
    gap: 5px;

    a,
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border: 1px solid var(--color-green);
        border-radius: 3px;

        &:hover,
        &.current {
            background-color: var(--color-green);
            color: #FFF;
        }
    }
}

.swiper-slide {
    height: auto;
}
.swiper-wrapper{
    height: auto;
}