#main-header{
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--color-gray-100);
    transition: background-color .3s ease;
    &.headroom--not-top{
        box-shadow: 0 1px 10px rgba(#000, .1);
    }
    .nav{
        .top-nav{
            &::after{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 100%;
                background-color: var(--color-green);
                width: 50vw;
                z-index: 0;
            }
            .search-form{
                position: absolute;
                top: calc(100% + 5px);
                right: 0;
                border-radius: 5px;
                border: 1px solid var(--color-green);
                background-color: #FFF;
                z-index: 1000;
                overflow: hidden;
                box-shadow: 0 0 10px rgba(#000, .1);
                @include responsive(sm){
                    top: 105px;
                    position: fixed;
                    width: calc(100% - 30px);
                    left: 15px;
                    right: auto;
                }
                form{
                    display: flex;
                    align-items: center;
                }
                input[type=search]{
                    height: 40px;
                    width: 300px;
                    border: 0;
                    padding: 0 10px;
                    color: #000;
                    font-weight: 500;
                    &:focus{
                        outline: none;
                    }
                }
                button[type=submit]{
                    width: 40px;
                    height: 40px;
                    text-indent: -9999px;
                    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black"><path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" /></svg>');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 50%;
                }
            }
            .search-btn{
                &.active{
                    img{
                        &:nth-child(1){
                            display: none;
                        }
                        &:nth-child(2){
                            display: block;
                        }
                    }
                }
            }
        }
        .bottom-nav{
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
            }
            .menu{
                position: relative;
                li{
                    position: relative;
                    &:hover, &.current-menu-item{
                        a{
                            color: var(--color-red);
                        }
                    }
                    &.menu-item-has-children{
                        &:hover{
                            > a{
                                color: #FFF;
                                background-color: var(--color-green);
                            }
                        }
                    }
                    img{
                        max-width: 100%;
                        height: auto;
                        border-radius: 5px;
                        display: block;
                        margin-bottom: 0.5em;
                        transition: opacity .3s ease;
                    }
                    a{
                        display: block;
                        padding: 7px 15px;
                        border-radius: 5px 5px 0 0;
                        &:hover{
                            img{
                                opacity: .8;
                            }
                        }
                    }
                    .sub-menu{
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 250px;
                        background-color: var(--color-green);
                        z-index: 500;
                        border-radius: 0 0 10px 10px;
                        box-shadow: var(--box-shadow);
                        display: none;
                        overflow: hidden;
                        li{
                            a{
                                font-size: .9em;
                                color: #FFF;
                                padding: 10px;
                                border-radius: 0;
                                &:hover{
                                    background-color: var(--color-green-600);
                                }
                            }
                        }
                    }
                    &.mega-menu{
                        position: initial;
                        > .sub-menu{
                            right: 0;
                            width: 100%;
                            display: none;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            overflow: hidden;
                            > li{
                                width: calc(100% / 3 - 15px);
                                > a{
                                    color: var(--primary-color);
                                    font-size: .9em;
                                }
                            }
                            .sub-menu{
                                position: static;
                                display: block;
                                box-shadow: none;
                                margin: 0;
                                padding: 0;
                                margin-top: 0.5em;
                                li{
                                    a{
                                        font-weight: 300;
                                        font-size: .85em;
                                    }
                                }
                            }
                        }
                        &:hover{
                            > .sub-menu{
                                display: flex;
                            }
                        }
                    }
                    &:hover{
                        .sub-menu{
                            display: block;
                        }
                    }
                }
                >li{
                    > a{
                        text-transform: uppercase;
                        color: var(--color-green);
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
.menu-toggle-btn {
    width: 30px;
    height: 16px;
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    position: relative;
    display: none;
    order: 3;
    &:focus {
        outline: none;
    }
    @include responsive(lg) {
        display: block;
        z-index: 500;
    }

    span {
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        right: 0;
        background: var(--color-green);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;

        @include responsive(sm) {
            background-color: var(--color-green);
        }

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        &:nth-child(3) {
            bottom: 0;
        }
    }

    &.active {
        span {
            top: 50% !important;
            bottom: auto;

            &:nth-child(1) {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                width: 100%;
            }

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
}