@mixin responsive($breakpoint) {
    @if $breakpoint == sm {
        @media (max-width: 639px) {
            @content;
        } //640px
    }
    @if $breakpoint == md {
        @media (max-width: 767px) {
            @content;
        } //768px
    }
    @if $breakpoint == lg {
        @media (max-width: 1023px) {
            @content;
        } //1024px
    }
    @if $breakpoint == xl {
        @media (min-width: 1279px) {
            @content;
        } //1280px
    }
}
