#mobile-menu{
    --mobile-menu-width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--mobile-menu-width);
    height: 100%;
    overflow-y: auto;
    background-color: #FFF;
    border-right: 1px solid var(--color-gray-300);
    z-index: 999;
    transform: translateX(-110%);
    transition: transform .3s ease-in-out;
    &.active{
        transform: translateX(0);
    }
    .mobile-menu-container{
        position: relative;
        .close-btn{
            width: 50px;
            padding: 0 0 0 15px;
            display: inline-block;
            position: absolute;
            top: 20px;
            left: 0;
            color: #111;
            background: 0 0;
            border: 0;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            line-height: 25px;
            cursor: pointer;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            svg{
                width: 100%;
            }
        }
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: #FFF;
        }
        .menu{
            li{
                border-bottom: 1px solid var(--color-gray-300);
                &:first-child{
                    border-top: 1px solid var(--color-gray-300);
                }
                a{
                    display: block;
                    color: $black;
                    font-weight: 300;
                    padding: 15px;
                }
                &.menu-item-has-children{
                    > a{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 10px;                        
                        &::after{
                            content: "";
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'><path stroke-linecap='round' stroke-linejoin='round' d='M8.25 4.5l7.5 7.5-7.5 7.5' /></svg>");
                            background-size: 100%;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
            .sub-menu{
                position: fixed;
                top: 0;
                left: 0;
                width: calc(var(--mobile-menu-width) - 20px);
                height: 100%;
                overflow-y: auto;
                background-color: #FFF;
                border-right: 1px solid var(--color-gray-300);
                padding-top: 70px;
                box-shadow: 2px 0 5px rgba(#000, .2);
                z-index: 100;
                transform: translateX(-110%);
                transition: all .3s ease;
                &.active{
                    transform: translateX(0);
                }
            }
        }
    }
    .mobile-widgets{
        margin-top: 2em;
        padding: 0 15px 2em;
        .widget{
            margin-bottom: 2em;
            .widget-title{
                font-size: 1.2em;
                font-weight: bold;
            }
            p{
                margin-bottom: .5em;
            }
        }
    }
}