.about-features{
    .features{
        .item{
            &:hover{
                .badge{
                    background-color: var(--color-green);
                }
                .entry-title{
                    color: var(--color-green);
                }
            }
        }
    }
}