.posts{
    .post{
        &:hover{
            a{
                color: var(--color-green);
            }
            .thumb{
                .badge{
                    background-color: var(--color-yellow);
                }
            }
        }
    }
}
.tab-posts-grid{
    .posts{
        .post{
            grid-column: auto;
            grid-row: auto;
            @include responsive(sm){
                grid-column: span 2;
            }
            .thumb{
                padding-top: 66.66%;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            &:nth-child(1){
                grid-column: 1/3;
                grid-row: 1/3;
                @include responsive(sm){
                    grid-column: span 4;
                }
                .thumb{
                    padding-top: 79%;
                }
            }
        }
    }
}