.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    @include responsive(md){
        grid-template-columns: 1fr 1fr;
    }
    .project{
        display: block;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        .thumbnail{
            display: block;
            padding-top: 75%;
            position: relative;
            line-height: 0;
            z-index: 1;
            .img-holder{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    display: block;
                }
            }
        }
        .title{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -30%);
            display: block;
            width: 100%;
            padding: 1em;
            font-size: 1.5em;
            font-family: $serif;
            color: #000;
            text-align: center;
            z-index: 3;
            opacity: 0;
            transition: all .3s ease;
            transition-delay: .5s;
        }
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $hlColor;
            opacity: .75;
            z-index: 2;
            transform: scaleY(0);
            transform-origin: center 0;
            transition: transform .3s ease;
        }
        &:hover{
            &::before{
                transform: scaleY(1);
            }
            .title{
                opacity: 1;
                transform: translate(-50%, -50%);
            }
        }
    }
}