@import 'product/single';
@import 'product/cart';
@import 'product/checkout';
@import 'product/thankyou';
.woocommerce,
.page {
    .products {
        display: grid;
        gap: 30px;
        float: none;
        clear: both;

        &.columns-4 {
            grid-template-columns: repeat(4, 1fr);

            @include responsive(sm) {
                grid-template-columns: 1fr 1fr;
                gap: 10px;
            }
        }

        .product {
            padding: 1rem;
            border-radius: 15px;
            border: 1px solid #DDD;
            position: relative;
            @include responsive(sm){
                padding: 5px;
            }
            .onsale {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #FFF;
                width: 40px;
                height: 40px;
                background-color: var(--color-red);
                font-size: .9em;
                border-radius: 15px 0 10px 0;
                left: 0;
                top: 0;
                font-size: .9em;
                font-weight: bold;
                span {
                    line-height: 1;

                    span {
                        display: block;
                        font-size: .9em;
                        font-weight: 300;
                    }
                }
            }

            .attachment-woocommerce_thumbnail {
                border-radius: 15px;
            }

            .add_to_cart_button {
                display: none;
            }

            .price {
                font-size: 1em;
                font-weight: bold;
                margin-top: .5em;
                color: var(--color-green);
                display: flex;
                align-items: baseline;
                gap: 10px;

                @include responsive(sm) {
                    font-size: .9em;
                    display: block;
                }

                del {
                    font-weight: 300;
                    color: #000;
                    opacity: .5;
                    font-size: .8em;
                }

                ins {
                    text-decoration: none;
                }
            }
            &:hover{
                .product-link-btn{
                    opacity: 1;
                }
            }
        }
    }

    .woocommerce-pagination {
        margin-top: 2em;

        ul {
            li {

                span,
                a {
                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    padding: 0 !important;
                    line-height: 35px;
                    transition: all .3s ease;

                    &:hover,
                    &.current {
                        background-color: var(--color-green) !important;
                        color: #FFF !important;
                    }
                }
            }
        }
    }
}

.products {
    &.swiper {
        display: block !important;

        .swiper-pagination {
            margin-top: 2em;

            &-bullet {
                background-color: var(--color-green);
            }
        }
    }
}

.woocommerce {
    .woocommerce-breadcrumb {
        padding: 1em 0;
        text-align: center;
        max-width: 1000px;
        margin: 0 auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: uppercase;
        font-size: .9em;
    }

    &.single-product {
        .woocommerce-breadcrumb {
            text-align: left;
            margin: 0;
        }

    }
}