$mainColor: var(--color-green);
$black: #070406;
$lightColor: #1a1a1a;
$san-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$bevietnam: 'Be Vietnam Pro', sans-serif;

$lowWhite: #c1c1c1;