.woocommerce-account{
    #main-content{
        padding: 2em 0;
        h1.entry-title{
            display: none;
        }
        .woocommerce{
            overflow: hidden;
            @include media-breakpoint-down(md){
                display: block;
            }
            &::before, &::after{
                content: none;
            }
        }
    }
    .woocommerce-MyAccount-navigation{
        background-color: #FFF;
        width: 100%;
        margin-bottom: 2em;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            li{
                a{
                    display: flex;
                    width: fit-content;
                    align-items: center;
                    padding: 10px 10px;
                    border: 1px solid $gray-200;
                    text-decoration: none;
                    color: #666;
                    border-radius: 5px;
                    &:hover{
                        color: $mainColor;
                        border-color: $mainColor;
                    }
                    ion-icon{
                        margin-right: 10px;
                    }
                }
                &.is-active{
                    a{
                        color: $mainColor;
                        font-weight: bold;
                        border-color: $mainColor;
                    }
                }
                &.woocommerce-MyAccount-navigation-link--customer-logout{
                    a{
                        color: $subColor;
                        border-color: $subColor;
                        &:hover{
                            color: $subColor;
                            border-color: $subColor;
                        }
                    }
                }
            }
        }
    }
    .woocommerce-MyAccount-content{
        width: 100%;
        margin-top: 1em;
        a{
            color: $mainColor;
            &:hover{
                color: $subColor;
            }
        }
        mark{
            background: $subColor;
            color: #FFF;
        }
        .woocommerce-orders-table{
            border-radius: 16px;
            border: 0;
            @include media-breakpoint-down(md){
                border: 1px solid $gray-200;
            }
            td, th{
                padding: 1em;
            }
            th{
                font-weight: 500;
            }
            .amount{
                font-weight: bold;
            }
        }
        .woocommerce-button{
            background-color: $mainColor;
            color: #FFF;
            width: fit-content;
            font-weight: 300;
            margin: 5px 0;
            &:not(:last-child){
                margin-right: 5px;
            }
            &:hover{
                background-color: darken($mainColor, 10%);
                color: #FFF;
            }
        }
    }
    input[type=text], input[type=email], input[type=tel], input[type=password], textarea{
        height: 44px;
        border-radius: 5px;
        border: 1px solid #DDD;
        padding: 0 15px;
        &:focus{
            border-color: $mainColor;
            &::placeholder{
                opacity: 0;
            }
        }
    }
    textarea{
        height: 100px !important;
        padding: 15px;
    }
    .select2-selection{
        border: 1px solid $gray-200 !important;
        height: 44px;
        box-shadow: $box-shadow inset;
        .select2-selection__rendered{
            line-height: 44px; 
            padding-left: 10px;
        }
        .select2-selection__arrow{
            height: 44px;
            width: 30px;
        }
    }
    button[type=submit]{
        width: fit-content;
        padding: 0 50px;
        height: 50px;
        border-radius: 50px;
        background-color: $mainColor;
        color: #fff;
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 1em;
        &:hover{
            background-color: darken($mainColor, 10%);
            color: #FFF;
        }
    }
}
.woocommerce-view-order{
    .woocommerce-MyAccount-content{
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .woocommerce-order-details{
        margin-top: 2em;
        .woocommerce-order-details__title{
            font-size: 1.2em;
        }
        .woocommerce-table{
            border: 1px solid $gray-200;
            border-radius: 5px;
            td, th{
                padding: 1em;
            }
            th{
                font-weight: 500;
            }
            .product-name{
                a{
                    color: #000;
                    text-decoration: none;
                    font-weight: 500;
                }
                .wc-item-meta{
                    margin: 0;
                    padding: 0;
                    font-size: .8em;
                    opacity: .8;
                    li{
                        line-height: 1.2;
                        font-weight: 300;
                    }
                    strong{
                        font-weight: 400;
                    }
                }
            }
            .awdr-you-saved-text{
                display: none;
            }
        }
    }
    .woocommerce-customer-details{
        margin-top: 2em;
        .woocommerce-column__title{
            font-size: 1em;
        }
        .woocommerce-column__title{
            font-size: 1.2em;
        }
        address{
            border-radius: 5px;
            border: 1px solid $gray-200 !important;
            padding: 1em;
        }
    }
}
.woocommerce-Addresses{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 60px;
    .woocommerce-Address{
        width: 100% !important;
    }
    &::before, &::after{
        content: none !important;
    }
    @include media-breakpoint-down(md){
        display: block;
    }
    .title{
        display: flex;
        align-items: center;
        margin-bottom: .5em;
        h3{
            font-size: 1em;
            margin: 0;
        }
        .edit{
            float: none !important;
            margin-left: 20px;
        }
    }
    address{
        border: 1px solid $gray-200;
        border-radius: 5px;
        padding: 1em;
    }
}
.woocommerce-address-fields{
    max-width: 800px;
    margin: 0 auto;
    .woocommerce-address-fields__field-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        .form-row{
            width: 100%;
            label{
                font-weight: 500;
                font-size: .8em;
            }
        }
        .form-row-first, .form-row-last{
            width: 49%;
        }
        .form-row-wide{
            width: 100%;
        }
    }
}
.woocommerce-MyAccount-content{
    float: none !important;
    .edit-account{
        max-width: 800px;
        margin: 0 auto;
    }
    .edit-account, fieldset{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        .form-row{
            width: 100%;
            label{
                font-weight: 500;
                font-size: .8em;
            }
        }
        .form-row-first, .form-row-last{
            width: 49%;
        }
        .form-row-wide{
            width: 100%;
        }
        fieldset{
            margin-top: 1em;
        }
        legend{
            font-size: 1.1em;
            font-weight: bold;
        }
        em{
            font-size: .9em;
            opacity: .7;
        }
    }
}

#customer_login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 60px;
    &::before, &::after{
        content: none !important;
    }
    @include media-breakpoint-down(md){
        display: block;
    }
    .col-1, .col-2{
        width: 100%;
    }
    h2{
        font-size: 1.2em;
    }
    .woocommerce-form{
        border: 1px solid $gray-200;
        border-radius: 5px;
        margin-top: 10px;
        label{
            font-weight: 500;
            display: block;
        }
        .woocommerce-form-login__rememberme{
            font-weight: 400;
        }
        .woocommerce-form-login__submit{
            float: none;
        }
    }
    .lost_password, .woocommerce-privacy-policy-text{
        font-size: .9em;
        a{
            color: #000;
        }
    }
}
.lost_reset_password{
    label{
        font-weight: 500;
    }
}