.wp-block-woocommerce-cart {
    .wc-block-components-title {
        margin-bottom: 1em;
        font-size: 2em;
        font-weight: 400;
    }

    .wc-block-components-sidebar-layout {
        justify-content: space-between;
    }

    .wc-block-components-main {
        padding: 0;
        width: 60%;

        .wc-block-cart-items {
            .wc-block-cart-items__header {
                opacity: .5;
            }

            th,
            td {
                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        .wc-block-cart-item__image {
            img {
                border-radius: 5px;
            }
        }

        .wc-block-cart-item__product {
            a {
                font-size: 1em;
                font-weight: 500;
                color: #000;
                text-decoration: none;

                &:hover {
                    color: var(--color-green);
                }
            }

            .wc-block-components-quantity-selector {
                width: auto;
                flex-wrap: wrap;
                gap: 10px;
                align-items: center;
                border: 0;
                border-radius: 0;

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 21px;
                    height: 21px;
                    min-width: auto;
                    min-height: auto;
                    background: var(--color-green);
                    color: #FFF;
                    border: 0;
                    border-radius: 50%;
                    line-height: 21px;
                    padding: 0;
                }

                input {
                    width: 58px;
                    flex: 0 0 58px;
                    border: 0;
                    margin: 0;
                    text-align: center;
                    padding: 5px;
                    border-radius: 5px;
                    -moz-appearance: textfield;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
            }

            .wc-block-components-product-badge {
                display: none;
            }
        }

        .wc-block-components-product-metadata {
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 5px 10px;
            }
        }

        .wc-block-cart-item__total {
            span {
                font-weight: bold;
            }

            .wc-block-components-product-badge {
                border-color: var(--color-green);
                color: var(--color-green);
            }
        }

    }

    .wc-block-components-sidebar {
        width: calc(40% - 30px);
        padding: 1em;
        box-shadow: 0 4px 20px rgba(34, 34, 34, 0.15);
        border-radius: 18px;

        .wc-block-components-title {
            padding: 16px;
        }

        .wc-block-components-radio-control__label-group {
            font-size: .9em;
            font-weight: bold;
        }

        .wc-block-cart__submit-button {
            background: var(--color-green);
            border-radius: 30px;
        }
    }
}

.woocommerce-cart {
    .woocommerce-cart-form {
        font-size: .9em;
        table {
            thead {
                font-size: 1em;
                font-size: .9em;
                color: #000;

                @include responsive(md) {
                    display: none;
                }
            }

            tbody {
                td {
                    @include responsive(md) {
                        display: block;
                        text-align: left !important;
                    }
                }
            }
            tr:nth-child(2n){
                td, th{
                    background: none;
                }
            }
        }

        .cart_item {
            .product-remove{
                a{
                    color: #000 !important;
                    font-weight: 300;
                    &:hover{
                        color: red !important;
                        background: none;
                    }
                }
            }
            .product-thumbnail {
                vertical-align: top;
                width: 100px;
                &::before{
                    content: none !important;
                }
                @include responsive(md) {
                    display: inline-block;
                    width: 100px;
                    box-sizing: border-box;
                }

                img {
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                }
            }

            .product-name {
                @include responsive(md) {
                    display: inline-block;
                    width: calc(100% - 105px);
                    box-sizing: border-box;
                }
                &::before{
                    content: none !important;
                }
                a {
                    color: #000;
                    text-decoration: none;
                    font-weight: 500;
                    display: block;

                    &:hover {
                        color: var(--color-green);
                    }
                }

                .variation {
                    line-height: 1.5;
                    margin-top: .3em;
                    font-size: .9em;
                    color: #444;

                    >span {
                        font-size: 13px;
                        display: block;
                    }

                    p {
                        display: inline;
                        margin: 0;
                    }
                }

                .remove {
                    width: auto;
                    text-align: left;
                    text-decoration: underline;
                    display: inline;
                    font-size: 13px;
                    border-radius: 0;
                    opacity: .5;

                    &:hover {
                        background: none;
                        color: #000 !important;
                        opacity: 1;
                    }
                }
            }

            .product-price {
                @include responsive(md) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    &::before {
                        content: attr(data-title) ": ";
                        margin-right: auto;
                    }
                }

                del {
                    font-size: .8em;
                    color: #666
                }

                ins {
                    text-decoration: none;
                }
            }

            .product-quantity {
                @include responsive(md) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    &::before {
                        content: attr(data-title) ": ";
                        margin-right: auto;
                    }
                }

                .qty {
                    border: 1px solid #DDD;
                    margin: 0;
                    text-align: center;
                    padding: 5px 0px 5px 13px;
                    border-radius: 5px;
                }
            }

            .product-subtotal {
                @include responsive(md) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    &::before {
                        content: attr(data-title) ": ";
                        margin-right: auto;
                    }
                }

                .amount {
                    font-weight: bold;
                }

                .awdr-you-saved-text {
                    font-size: .8em;
                    line-height: 1.3;

                    @include responsive(md) {
                        width: 100%;
                        text-align: right;
                    }
                }
            }
        }

        .actions {
            button[name=update_cart] {
                display: none !important;
            }

            .coupon {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                float: none !important;
                &::before{
                    content: none !important;
                }
                label {
                    display: none;
                }

                .input-text {
                    float: none !important;
                    margin: 0 !important;
                    border: 1px solid #DDD !important;
                    border-right: 0 !important;
                    height: 50px;
                    min-width: 250px;
                    padding: 0 15px !important;
                    border-radius: 4px 0 0 4px;

                    @include responsive(md) {
                        width: 100% !important;
                        border: 1px solid #DDD !important;
                        border-radius: 5px !important;
                    }
                }

                .button {
                    background-color: var(--color-green);
                    border-radius: 0 4px 4px 0;
                    height: 50px;
                    font-size: .9em;
                    color: #FFF;
                    @include responsive(md){
                        width: 100% !important;
                        border-radius: 5px;
                        margin-top: 5px;
                    }
                    &:hover {
                        background-color: var(--color-green);
                        color: #FFF;
                    }
                }
            }
        }
    }

    .cart-collaterals {
        .cart_totals {
            width: 100%;
            > h2:first-of-type{
                font-weight: bold;
                font-size: 1.2em;
                display: block;
                padding: 15px;
                background-color: #f7f8f9;
                border: 1px solid #DDDF;
                border-radius: 5px 5px 0 0;
                margin: 0;
            }
            table {
                border-radius: 0 0 5px 5px;
                border-top: 0;
                td,
                th {
                    border-top: 1px solid rgba(#000, .1);
                    padding: 15px;
                }

                th {
                    font-weight: 400;
                    text-transform: capitalize;
                }

                .dynamic-discount {

                    th,
                    td {
                        border-top: 0;
                        padding-bottom: 15px !important;
                    }
                }

                .cart-discount {
                    .code {
                        font-weight: bold;
                    }

                    .woocommerce-remove-coupon {
                        font-size: .8em;
                        color: #000;
                        opacity: .5;
                        font-weight: 400;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                .shipping {
                    .woocommerce-shipping-methods {
                        li {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 0 5px;
                            cursor: pointer;

                            label {
                                white-space: nowrap;
                                font-weight: 400;
                            }

                            input {
                                margin: 0 !important;

                                &:checked~label {
                                    font-weight: 500;
                                }
                            }
                        }
                    }

                    .woocommerce-shipping-destination {
                        font-size: .8em;
                        font-weight: 300;
                        line-height: 1.3;
                        opacity: .7;

                        strong {
                            font-weight: 400;
                        }
                    }

                    .shipping-calculator-button {
                        color: #000;
                        font-size: 13px;
                        opacity: .5;

                        &:hover {
                            opacity: 1;
                        }

                        &::after {
                            content: none;
                        }
                    }

                    .shipping-calculator-form {
                        text-align: left;

                        .form-row {
                            padding: 0;
                        }

                        .select2-selection {
                            border: 1px solid #DDD  !important;
                            height: 30px;
                            font-size: 14px;

                            .select2-selection__rendered {
                                line-height: 30px;
                                padding-left: 10px;
                            }
                        }

                        input {
                            border: 1px solid #DDD  !important;
                            padding: 0 10px;
                            border-radius: 4px;
                            height: 30px;
                            font-size: 14px;
                        }

                        button[type=submit] {
                            background: #444;
                            font-weight: 500;
                            font-size: .9em;
                            float: right;

                            &:hover {
                                background-color: #000;
                                color: #FFF;
                            }
                        }
                    }
                }
            }

            .awdr-you-saved-text {
                font-size: .9em;

                .amount {
                    font-weight: bold;
                }
            }
        }

        .wc-proceed-to-checkout {
            padding: 0;
        }

        .checkout-button {
            background-color: var(--color-green)  !important;

            &:hover {
                background-color: var(--color-green) !important;
            }
        }

        .wcppec-checkout-buttons {
            margin-bottom: 0;
        }

        .wcppec-checkout-buttons__separator {
            font-size: .8em;
            opacity: .5;
        }
    }
}
.woocommerce{
    .return-to-shop{
        .button{
            background: var(--color-green);
            color: #FFF;
            padding: 1em 2em;
            &:hover{
                background-color: var(--color-green);
                color: #FFF;
            }
        }
    }
}
