.products,
.woocommerce .products {
    .product {
        border-radius: 5px;
        padding-bottom: 10px;
        background-color: #FFF;
        border: 1px solid $gray-300;
        transition: box-shadow .3s ease-in-out;
        .attachment-woocommerce_thumbnail {
            width: 100%;
            height: auto;
            border-radius: 5px 5px 0 0;
        }

        .woocommerce-loop-product__title {
            font-size: .9em;
            font-weight: 500;
            margin-top: 1em;
            padding: 0 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;

            a {
                color: #000;
            }
        }
        .custom-product-text{
            display: block;
            padding: 0 10px;
            font-size: 13px;
            color: $blue;
        }
        .woocommerce-product-rating {
            padding: 0 10px;
            font-size: 10px;
            color: $yellow;
            margin: 0;

            .star-rating {
                &::before {
                    color: $yellow;
                }
            }
        }

        .price {
            color: $subColor;
            display: block;
            padding: 0 10px;
            font-size: .9em;
            font-weight: 500;
            @include responsive(sm){
                font-size: .8em;
            }
            del {
                color: $lightColor;
                font-weight: 300;
                text-decoration-thickness: 1px;
                font-size: .9em;
            }

            ins {
                text-decoration: none;
            }

            .percent {
                display: inline-block;
                font-weight: bold;
                font-size: 12px;
                color: $green;
                background-color: $green-100;
                padding: 2px 4px;
                border-radius: 3px;
            }
        }

        .onsale {
            border-radius: 0;
            top: 0;
            left: 0;
            background-color: $mainColor;
            color: #FFF;
            display: none;
        }
        &:hover{
            box-shadow: 0 3px 10px rgba(#000, 0.15);
        }
    }
}
.products.products-slider {
    display: block !important;
    .swiper{
        padding-top: 20px;
    }
    .swiper-pagination {
        display: block;
        position: static;
        margin: 1em auto 0;
        transform: none !important;

        &-bullet {
            background-color: #FFF;
        }
    }
}
.products.products-grid{
    display: grid;
    grid-template-columns: repeat(var(--per-row), 1fr);
    gap: 20px;
    clear: both;
    @include media-breakpoint-down(lg){
        grid-template-columns: repeat(4, 1fr);
    }
    @include media-breakpoint-down(md){
        grid-template-columns: repeat(3, 1fr);
    }
    @include media-breakpoint-down(sm){
        grid-template-columns: repeat(2, 1fr);
    }
    .product {
        .price {
            font-size: .9em;
            font-weight: 500;
        }
    }
    .woocommerce-info{
        grid-column: 1/7;
    }
}
.woocommerce:not(.home) {
    .products {
        display: grid;
        grid-template-columns: repeat(var(--per-row), 1fr);
        gap: 20px;
        clear: both;
        @include media-breakpoint-down(lg){
            grid-template-columns: repeat(4, 1fr);
        }
        @include media-breakpoint-down(md){
            grid-template-columns: repeat(3, 1fr);
        }
        @include media-breakpoint-down(sm){
            grid-template-columns: repeat(2, 1fr);
        }
        .product {
            .price {
                font-size: .9em;
                font-weight: 500;
            }
        }
        .woocommerce-info{
            grid-column: 1/7;
        }
    }
}
.woocommerce-ordering {
    .orderby {
        padding: .5em 1em;
        border: 1px solid #DDD;
        font-size: .9em;
        border-radius: 3px;
    }
}
.post-type-archive-product, .tax-product_cat{
    #main-content{
        padding-top: 2em;
        .page-title{
            font-size: 2em;
        }
    }
}
.woocommerce{
    #main-content{
        .woocommerce-pagination{
            border: 0;
            margin: 2em 0;
            ul{
                display: flex;
                flex-wrap: wrap;
                border: 0;
                justify-content: center;
                gap: 5px;
                &::before, &::after{
                    content: none;
                }
                li{
                    padding: 0;
                    border: 0;
                    a, span{
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-width: auto;
                        color: $black;
                    }
                }
            }
        }
    }
}
.woocommerce-child-cats{
    margin: 1em 0;
    padding: 0;
    list-style: none;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-down(md){
        scroll-snap-type: x mandatory;
        overflow-x: auto;
        flex-wrap: nowrap;
    }
    li{
        display: flex;
        align-items: center;
        @include media-breakpoint-down(md){
            scroll-snap-align: start;
            white-space: nowrap;
        }
        &:not(:last-child){
            &::after{
                content: "-";
                color: $gray-700;
                display: inline-block;
                margin-left: 10px;
                font-weight: 300;
            }
        }
        &:first-child{
            font-weight: bold;
            &::after{
                content: none;
            }
        }
        a{
            color: $gray-700;
            @include media-breakpoint-down(md){
                display: block;
            }
            &:hover{
                color: $black;
                text-decoration: underline;
            }
        }
    }
}
.woocommerce-more-content{
    margin-bottom: 2em;
}