.woocommerce-checkout {
    .checkout_coupon {
        margin: 1em 0 !important;
        border: 1px solid var(--color-green) !important;

        .coupon {
            display: flex;
            max-width: 400px;

            input {
                flex: 1;
                border-radius: 4px 0 0 4px;
                border: 0;
                padding: 0 10px;
                height: 40px;
            }

            button {
                border-radius: 0 4px 4px 0;
                background: var(--color-green);
                height: 40px;
            }
        }
    }

    .checkout-wrapper {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 0 60px;
        justify-content: space-between;
        padding: 2em 0;

        @include responsive(sm) {
            grid-template-columns: 1fr;
            gap: 60px;
        }

        .checkout-info {
            h3 {
                font-size: 1.2em;
                font-weight: bold;
                margin-bottom: 1em;
            }

            .woocommerce-billing-fields__field-wrapper,
            .woocommerce-additional-fields__field-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                padding: 15px;
                background-color: var(--color-gray-50);
                border-radius: 5px;
                border: 1px solid var(--color-gray-300);

                .form-row {
                    width: 100%;

                    label {
                        font-weight: 500;
                        font-size: .8em;
                    }
                }

                .form-row-first,
                .form-row-last {
                    width: 49%;
                }

                .form-row-wide {
                    width: 100%;
                }
            }

            .woocommerce-additional-fields {
                margin-top: 2em;
            }
        }

        .checkout-review {
            margin-bottom: 2em;

            h3 {
                font-size: 1.2em;
                font-weight: bold;
                margin-bottom: 1em;
            }

            #order_review {
                border-radius: 5px;
                padding: 1em;
                border: 1px solid var(--color-gray-300);
                background-color: var(--color-gray-50);
            }

            .shop_table {
                margin-top: 1em;
                border: 0;
                font-size: .9em;

                th,
                td {
                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                        text-align: right;
                    }
                }

                th {
                    font-weight: 400;
                }

                .cart_item {
                    .product-name {
                        font-weight: bold;

                        img {
                            float: left;
                            margin-right: 10px;
                        }

                        .variation {
                            line-height: 1.5;
                            margin-top: .3em;
                            color: var(--color-gray-600);
                            font-size: .9em;

                            dd {
                                font-weight: 300;
                            }

                            >span {
                                font-size: 13px;
                                display: block;
                            }

                            p {
                                display: inline;
                                margin: 0;
                            }
                        }
                    }
                }

                .cart-discount {
                    .code {
                        font-weight: bold;
                    }

                    .woocommerce-remove-coupon {
                        font-size: .8em;
                        font-weight: 400;
                        color: #000;
                        opacity: .5;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                .coupon-form {
                    .woocommerce-form-coupon-toggle {
                        display: none;
                    }

                    .woocommerce-form-coupon {
                        display: block !important;
                        padding: 0;
                        border: 0 !important;
                        display: flex !important;
                        flex-wrap: wrap;

                        p {
                            width: 100%;
                            padding: 0 !important;

                            &.form-row-first {
                                width: calc(100% - 120px);
                            }

                            &.form-row-last {
                                width: 120px;
                            }

                            .input-text {
                                border-radius: 5px 0 0 5px;
                                height: 50px;
                                border-right: 0;
                            }

                            .button {
                                height: 50px;
                                background-color: #000;
                                border-radius: 0 5px 5px 0;
                                color: #FFF;
                                font-size: .9em;

                                &:hover {
                                    background-color: #000;
                                    color: #FFF;
                                }
                            }
                        }
                    }
                }

                .shipping {
                    .woocommerce-shipping-methods {
                        li {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 0 5px;
                            cursor: pointer;

                            label {
                                white-space: nowrap;
                                font-weight: 400;
                            }

                            input {
                                margin: 0 !important;

                                &:checked~label {
                                    font-weight: 500;
                                }
                            }
                        }
                    }

                    .woocommerce-shipping-destination {
                        font-size: .8em;
                        font-weight: 300;
                        line-height: 1.3;
                        opacity: .7;

                        strong {
                            font-weight: 400;
                        }
                    }
                }

                .awdr-you-saved-text {
                    font-size: .9em;
                    line-height: 1;

                    .amount {
                        font-weight: bold;
                    }
                }
            }
        }

        input[type=text],
        input[type=email],
        input[type=tel],
        textarea {
            height: 44px;
            border-radius: 5px;
            border: 1px solid #DDD;
            padding: 0 15px;

            &:focus {
                border-color: var(--color-green);

                &::placeholder {
                    opacity: 0;
                }
            }
        }

        textarea {
            height: 100px !important;
            padding: 15px;
        }

        .select2-selection {
            height: 44px;

            .select2-selection__rendered {
                line-height: 44px;
                padding-left: 10px;
            }

            .select2-selection__arrow {
                height: 44px;
                width: 30px;
            }
        }

        .woocommerce-shipping-fields,
        .woocommerce-additional-fields {
            width: 100%;
            clear: both;

            #ship-to-different-address {
                font-size: 1em;
                font-weight: 500;
                margin-top: 1em;
            }
        }
    }

    .woocommerce-checkout {
        .woocommerce-message {
            display: none;
        }
    }

    .woocommerce-info {
        background: none;
        padding: 0;
        margin-bottom: 0;
    }
}

.woocommerce {
    #payment {
        background: var(--color-gray-300);
        border-radius: 5px;
        border: 1px solid var(--color-gray-300);

        .payment_box {
            background: #FFF !important;
            border-radius: 5px;
            font-size: .8em;

            &::before {
                border: 1em solid #FFF !important;
                border-right-color: transparent !important;
                border-left-color: transparent !important;
                border-top-color: transparent !important;
            }
        }

        .woocommerce-terms-and-conditions-wrapper {
            .woocommerce-privacy-policy-text {
                font-size: .8em;
                opacity: .8;

                a {
                    color: #000;
                }
            }

            .validate-required {
                font-size: .9em;

                a {
                    color: #000;
                }
            }
        }

        #place_order {
            width: 100%;
            height: 50px;
            margin-top: 1em;
            background-color: var(--color-green);
        }
    }

    .woocommerce-form-login {
        background-color: var(--color-gray-100);

        .form-row-first,
        .form-row-last {
            width: calc(50% - 5px);
        }

        .form-row {
            padding: 0;

            label {
                font-size: .9em;
                font-weight: bold;
            }

            .input-text {
                height: 50px;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid var(--color-gray-300);
            }

            .woocommerce-form-login__rememberme {
                display: block;
            }

            .woocommerce-form-login__submit {
                float: none;
                height: 50px;
                background-color: #000;
                color: #FFF;
                margin-top: 10px;
            }
        }

        .lost_password {
            a {
                font-size: .9em;
                color: #000;
            }
        }
    }
}

.woocommerce-order-received {
    .woocommerce-thankyou-order-received {
        font-size: 2em;
        color: var(--color-green);
        margin-bottom: 1em;

        @include responsive(sm) {
            font-size: 1.1em;
        }
    }

    .woocommerce-order-details {
        margin-top: 2em;
    }

    .woocommerce-order-details__title {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 1em;
    }

    .woocommerce-customer-details {
        .woocommerce-column__title {
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 1em;
        }
    }
    .shop_table, address{
        background-color: #f7f8f9;
        box-shadow: none;
    }
}