.woocommerce-Tabs-panel--reviews{
    #ywar_reviews{
        #reviews_summary{
            h3{
                font-size: 1.3em;
                font-weight: 700;
                color: $mainColor;
                margin-bottom: 1em;
            }
            .woocommerce-product-rating{
                margin-bottom: 0;
                display: none;
            }
            .reviews_bar{
                margin-top: 0;
                display: none;
            }
        }
    }
    #reviews{
        #comments{
            .woocommerce-Reviews-title{
                font-size: 1em;
            }
            .commentlist{
                margin: 0;
                padding: 0;
                list-style: none;
                .review{
                    border-radius: 5px;
                    box-shadow: none;
                    border: 1px solid $gray-200;
                    padding: 15px;
                    margin-bottom: 10px;
                    &:nth-child(even){
                        background-color: $gray-100;
                    }
                    .comment_container{
                        padding-left: 0;
                        padding-top: 0;
                        overflow: hidden;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        .avatar{
                            border-radius: 50%;
                            border: 0;
                            padding: 0;
                            display: none;
                        }
                        .comment-text{
                            margin: 0;
                            border: 0;
                            order: 3;
                            padding: 0;
                            .star-rating{
                                font-size: 10px;
                                float: none;
                                display: block;
                                margin: 0;
                                order: 2;
                                position: absolute;
                                top: 15px;
                                right: 15px;
                            }
                            .meta{
                                width: 100%;
                                order: 1;
                                margin: 0 0 1em;
                                font-size: .8em;
                                padding-right: 7em;
                                .woocommerce-review__author{
                                    font-size: 1em;
                                    color: $black;
                                }
                            }
                            .review_thumbnail{
                                border: 0;
                                img{
                                    margin-left: 0;
                                    border-radius: $border-radius
                                }
                            }
                            .review-actions{
                                float: none;
                                padding: 0;
                                .review-inappropriate{
                                    float: none;
                                }
                                .reply{
                                    float: none;
                                    padding: 0;
                                    a{
                                        display: inline-block;
                                        background: none;
                                        color: #000;
                                        font-weight: 300;
                                        text-decoration: underline;
                                        padding: 0;
                                        margin-right: 10px;
                                    }
                                }
                            }
                            .description{
                                font-size: .9em;
                                p{
                                    &:last-of-type{
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #review_form_wrapper{
        margin-top: 0;
        #review_form{
            margin: 2em 0 0;
            padding: 0;
            border: 0;
            .comment-respond{
                .comment-reply-title{
                    font-size: 1em;
                    margin-bottom: 1em;
                    font-weight: bold;
                    display: block;
                    a{
                        font-weight: 300;
                        color: #000;
                        text-decoration: underline;
                        margin-left: 10px;
                    }
                }
                .comment-form{
                    border: 1px solid $gray-200;
                    border-radius: 5px;
                    padding: 2em;
                    background-color: $gray-100;
                }
                .comment-notes{
                    font-size: .9em;
                    color: $gray-600;
                }
                .comment-form-rating{
                    label{
                        float: left;
                        margin-right: 10px;
                    }
                    .stars{
                        a{
                            color: #000;
                            font-size: 1.2em;
                        }
                    }
                }
                .comment-form-comment, .comment-form-author, .comment-form-email{
                    label{
                        font-size: .9em;
                        color: $gray-700;
                        display: block;
                        margin-bottom: 5px;
                    }
                    textarea{
                        padding: 10px;
                        border: 1px solid $gray-200;
                        border-radius: 5px;
                    }
                    input{
                        width: 100%;
                        height: 40px;
                        padding: 10px;
                        border: 1px solid $gray-200;
                        border-radius: 5px;
                        box-shadow: none;
                    }
                }
                .comment-form-cookies-consent{
                    font-size: .9em;
                    color: $gray-600;
                }
                .form-submit{
                    input[type=submit]{
                        background: $mainColor;
                        color: #FFF;
                        width: fit-content;
                        padding: 1em 2em;
                    }
                }
            }
        }
    }
}