.xoo-wsc-modal{
    .xoo-wsc-basket{
        display: none !important;
    }
    .xoo-wsc-header{
        background-color: $gray-100;
        .xoo-wscb-icon{
            font-size: 1.5em;
        }
        .xoo-wscb-count{
            font-size: .9em;
            height: 100%;
            line-height: 2;
        }
        .xoo-wsch-text{
            font-weight: bold;
            font-size: 1.2em;
        }
    }
    .xoo-wsc-body{
        .xoo-wsc-products{
            .xoo-wsc-product{
                display: grid;
                grid-template-columns: 1fr 4fr;
                .yith-wcbm-badge{
                    display: none !important;
                }
                .xoo-wsc-img-col, .xoo-wsc-sum-col{
                    width: auto;
                }
                .xoo-wsc-pname{
                    a{
                        font-size: .9em;
                        color: $mainColor;
                    }
                }
                .xoo-wsc-qty-price{
                    font-size: 13px;
                    span{
                        .amount{
                            font-size: 13px;
                        }
                        &:last-child{
                            .amount{
                                color: $red;
                            }
                        }
                    }
                }
            }
        }
    }
    .xoo-wsc-ft-buttons-cont{
        .button{
            font-weight: 400;
            font-size: .9em;
            text-transform: uppercase;
            &.xoo-wsc-ft-btn-checkout{
                background-color: $subColor;
                color: #FFF;
                &:hover{
                    background-color: darken($subColor, 5%);
                }
            }
        }
    }
}