.woocommerce-ordering{
    .orderby{
        padding-left: 5px !important;
        height: 43px;
    }
}
#product-filter{
    position: relative;
    margin: 1em 0;
    width: 100%;
    clear: both;
    float: none;
    .filter-btn{
        display: flex;
        align-items: center;
        gap: 0 10px;
        padding: 10px;
        background: #FFF;
        border: 1px solid $gray-300;
        color: $black;
        width: fit-content;
        border-radius: 3px;
        font-size: 14px;
        display: none;
        @include media-breakpoint-down(md){
            display: flex;
        }
        svg{
            width: 20px;
        }
    }
    .filter-wrapper{
        @include media-breakpoint-down(md){
            position: absolute;
            top: 100%;
            background-color: #FFF;
            z-index: 999;
            width: 300px;
            border: 1px solid $gray-400;
            padding: 40px 15px 15px 15px;
            box-shadow: 0 2px 5px rgba(#000, .1);
            border-radius: 3px;
            display: none;
        }
        > .close{
            display: none;
            background: none;
            border: 0;
            padding: 0;
            position: absolute;
            top: 5px;
            right: 5px;
            color: $gray-400;
            @include media-breakpoint-down(md){
                display: block;
            }
            svg{
                width: 30px;
                height: auto;
            }
        }
    }
}
#custom-filter {
    .prdctfltr_wc {
        form {
            margin: 0;
        }

        .prdctfltr_filter_wrapper {
            .prdctfltr_filter_inner {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                &::before,
                &::after {
                    content: none;
                }

                .prdctfltr_filter {
                    position: relative;
                    width: auto;
                    padding: 0;
                    @include media-breakpoint-down(md){
                        &:not(:last-child){
                            margin-bottom: 1em;
                        }
                    }
                    .prdctfltr_regular_title {
                        padding: .5rem 1rem;
                        margin: 0;
                        border-radius: 3px;
                        border: 1px solid #DDD;
                        font-size: .9em;
                        font-weight: normal;
                        cursor: pointer;
                        @include media-breakpoint-down(md){
                            border: 0;
                            padding: 0;
                            font-weight: bold;
                        }
                        &:hover {
                            border-color: #666;
                        }

                        .prdctfltr-down,
                        .prdctfltr-up {
                            display: inline-block;
                        }
                    }

                    &.open {
                        background-color: #FFF;
                    }

                    .prdctfltr_add_scroll {
                        position: absolute;
                        background-color: #FFF;
                        padding: 15px;
                        border-radius: 3px;
                        box-shadow: 0 0 10px rgba(#000, .1);
                        z-index: 500;
                        min-width: 300px;
                        max-width: 70vw;
                        width: max-content;
                        display: none;
                        @include media-breakpoint-down(md){
                            position: static;
                            min-width: auto;
                            max-width: none;
                            width: 100%;
                            box-shadow: none;
                            padding: 10px 0 0;
                            display: none;
                        }
                        .prdctfltr_checkboxes {
                            display: flex;
                            gap: 5px;
                            justify-content: center;
                            @include media-breakpoint-down(md){
                                flex-wrap: wrap;
                                justify-content: flex-start;
                            }
                            >label {
                                display: block;
                                width: fit-content;
                                border: 1px solid #EEE;
                                padding: .35rem .75rem;
                                font-size: .9em;
                                font-weight: normal;
                                margin: 0;
                                border-radius: 5px;

                                &:hover {
                                    border-color: #DDD;
                                }

                                input {
                                    display: none;
                                }

                                &.prdctfltr_active {
                                    border-color: $mainColor;
                                    color: $mainColor;
                                }
                            }
                        }
                    }

                    &.prdctfltr_terms_customized_color {
                        .prdctfltr_add_scroll {
                            .prdctfltr_checkboxes {
                                label {
                                    padding: 0;
                                    border-radius: 0;

                                    .prdctfltr_customize_block {
                                        margin: 0;
                                        border: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                .prdctfltr_range {
                    .prdctfltr_add_scroll {
                        .prdctfltr_checkboxes {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .prdctfltr_buttons {
        margin: 10px 0 0 0;
        padding: 0;
    }
}