.woocommerce.single-product {
    #main-content{
        padding-top: 2em;
    }
    .onsale{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90px;
        height: 90px;
        background-color: var(--color-red);
        font-size: .9em;
        border-radius: 20px 0 10px 0;
        left: 0;
        top: 0;
        font-size: 1.5em;
        font-weight: bold;
        @include responsive(sm){
            border-radius: 5px 0 5px 0;
            font-size: 13px;
            width: 50px;
            height: 50px;
        }
        span{
            line-height: 1;
            span{
                display: block;
                font-size: .9em;
                font-weight: 300;
            }
        }
    }
    .related{
        float: none;
        clear: both;
        margin: 2em 0;
        &.products-slider{
            position: relative;
        }
        h2{
            font-size: 1.3em;
            font-weight: bold;
            margin-bottom: 1em;
        }
    }
}
.single-product{
    .desk-product-content{
        @include responsive(lg){
            display: none;
        }
    }
    .mobile-product-content{
        margin-top: 2em;
    }
}
.related-products{
    display: block;
    margin-top: 4em;
    width: 100%;
    overflow: hidden;
    > h2{
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    .swiper{
        width: 100%;
        .swiper-pagination{
            &-bullet{
                background-color: #000;
            }
        }
    }
}
.woocommerce.single-product{
    .product.product-main {
        // display: flex;
        // flex-wrap: wrap;
        // gap: 0 60px;
        // min-width: 0;
        .product-header {
            width: 100%;
            margin-bottom: 1em;
            margin-top: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 10px 30px;
            align-items: center;

            #breadcrumbs {
                width: 100%;
            }

            .entry-title {
                font-size: 1.5em;
                font-weight: bold;
                margin: 0;
            }

            .woocommerce-product-rating {
                margin: 0;
                font-size: 14px;
                color: var(--color-yellow);
                display: flex;
                align-items: center;

                .star-rating {
                    margin: 0;

                    &::before {
                        color: var(--color-yellow);
                    }
                }
            }

            .woocommerce-review-link {
                color: #000;
            }
        }

        .woocommerce-product-gallery {
            margin-bottom: 0;
            .wpgs-image{
                border-radius: 20px;
                overflow: hidden;
                @include responsive(sm){
                    border-radius: 5px;
                }
            }
            .wpgs-thumb{
                img{
                    border-radius: 15px;
                    @include responsive(sm){
                        border-radius: 5px;
                    }
                }
                .thumbnail_image{
                    img{
                        aspect-ratio: 4/3;
                        object-fit: cover;
                    }
                }
            }
            img {
                width: 100%;
                height: auto;
            }
        }

        .summary {
            @include responsive(md) {
                width: 100%;
            }
            .price {
                color: var(--color-green);
                font-weight: bold;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 10px;
                margin-bottom: 1em;
                >.price {
                    font-size: 1em;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: baseline;
                    margin: 0;
                }

                del {
                    color: $lightColor;
                    font-weight: 300;
                    font-size: .7em;
                }

                ins {
                    font-weight: bold;
                    text-decoration: none;
                }
                .percent{
                    color: #FFF;
                    font-size: 14px;
                    font-weight: bold;
                    display: inline-block;
                    background-color: var(--color-green);
                    padding: 3px 10px;
                    border-radius: 3px;
                }
            }

            .woocommerce-product-details__short-description {
                font-size: .9em;
            }
            .variations_form{
                border-top: 1px solid #DDD;
                padding-top: 1em;
                margin-top: 1em;
            }
            .variations {
                td,
                th {
                    vertical-align: middle;
                    padding: 10px 0;
                    text-align: left;
                    @include responsive(sm){
                        display: block !important;
                        padding: 0;
                    }
                }

                .label {
                    width: 100px;
                    font-size: .9em;
                    @include responsive(sm){
                        margin-bottom: 5px;
                    }
                    label {
                        font-weight: normal;
                    }
                }

                .value {
                    padding-bottom: 10px;

                    .cfvsw-label-option, .cfvsw-swatches-option {
                        font-size: 1em;
                        transition: transform .2s ease;
                        border-radius: 5px;
                        border: 1px solid $black;
                        padding: 7px 1em;
                        &.cfvsw-selected-swatch {
                            color: var(--color-green);
                            border: 1px solid var(--color-green) !important;
                        }
                    }
                }

                .reset_variations {
                    display: none !important;
                }
            }
            .single_variation_wrap{
                .single_variation{
                    display: none !important;
                }
            }
            .add-to-cart-wrapper{
                @include responsive(sm){
                    flex-wrap: wrap;
                }
            }
            .quantity-wrapper {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                float: none;
                @include responsive(sm){
                    width: 100%;
                }
                .label {
                    width: 100px;
                    font-size: .9em;
                }

                .quantity-buttons {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    button {
                        height: 40px;
                        width: 40px;
                        background: none;
                        border: 1px solid #f0f0f0;
                        font-weight: 300;
                        font-size: 1.2em;
                    }

                    .quantity {
                        margin: 0;
                    }

                    input[type=number] {
                        height: 40px;
                        border: 0;
                        border-top: 1px solid #f0f0f0;
                        border-bottom: 1px solid #f0f0f0;

                        &::-webkit-inner-spin-button,
                        &::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                        }
                    }
                }
            }

            .single_add_to_cart_button {
                float: none;
                width: fit-content;
                height: 100%;
                white-space: nowrap;
                border: 1px solid var(--color-green);
                color: var(--color-green);
                background-color: #FFF;
                font-size: 1.2em;
                height: auto;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1em;
                border-radius: 10px;
                @include responsive(sm){
                    font-size: 1em;
                }
                svg{
                    height: 20px;
                    width: auto;
                    circle, path{
                        fill: currentColor;
                    }
                }
                &::after{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
                &.loading{
                    padding-right: 1em;
                    &::after{
                        content: "\e01c" !important;
                    }
                }
                span {
                    display: block;
                    margin-top: 5px;
                    font-size: .8em;
                    font-weight: 300;
                    text-transform: capitalize;
                }

                &:hover {
                    background-color: var(--color-green);
                    color: #FFF;
                }
            }
            .quick-but-button{
                white-space: nowrap;
                width: fit-content;
                font-size: 1.2em;
                border-radius: 10px;
                @include responsive(sm){
                    font-size: 1em;
                }
            }
            .hotline {
                display: flex;
                width: fit-content;
                margin: 1em 0;
                gap: 0 5px;
                background-color: #e5e5e5;
                border-radius: 5px;
                padding: 5px 10px;

                a {
                    display: flex;
                    align-items: center;
                    color: var(--color-green);
                    gap: 0 5px;
                    font-weight: bold;
                }

                .icon {
                    width: 16px;
                    height: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 3px;
                    background-color: var(--color-green);
                    color: #FFF;
                    border-radius: 3px;

                    svg {
                        width: 80%;
                        height: auto;
                    }
                }
            }

            .product_meta {
                margin-bottom: 1em;

                >span {
                    display: block;
                    font-size: .9em;
                    color: #666;

                    a {
                        color: #666;

                        &:hover {
                            color: #000;
                        }
                    }
                }
            }

            .promo-block {
                border-radius: 10px;
                margin-bottom: 1em;
                overflow: hidden;
                background-color: var(--promo-bg);
                color: var(--promo-color);
                border: 1px solid var(--promo-border-color);
                &#promo-block-2 {
                    margin-top: 1em;
                }

                .header {
                    padding: 15px;
                    color: var(--promo-header-color);
                    background-color: var(--promo-header-bg);
                    border-bottom: 1px solid var(--promo-border-color);
                    .title {
                        font-weight: bold;
                        font-size: 1.1em;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        margin: 0;
                        svg{
                            width: 1em;
                            height: auto;
                        }
                    }

                    p {
                        margin: 0;
                        font-style: italic;
                        font-weight: 300;
                        font-size: .8em;
                        opacity: .65;
                    }
                }

                .content {
                    font-size: .9em;
                    padding: 15px;
                    background-color: var(--promo-bg);
                    color: var(--promo-color);
                    p {
                        &:last-of-type {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .product{
        .woocommerce-tabs{
            .tabs{
                margin: 0;
                padding: 0;
                margin-bottom: 2em;
                display: flex;
                gap: 2em;
                border: 0;
                border-bottom: 1px solid #DDD;
                &::before, &::after{
                    content: none;
                }
                @include responsive(sm){
                    scroll-snap-type: x mandatory;
                    overflow-x: auto;
                }
                li{
                    padding: 0;
                    width: fit-content;
                    display: block;
                    margin: 0;
                    border: 0;
                    background: none;
                    position: relative;
                    overflow: initial;
                    @include responsive(sm){
                        scroll-snap-align: start;
                    }
                    &::before, &::after{
                        content: none;
                    }
                    a{
                        padding: 0;
                        font-size: 1.2em;
                        font-weight: bold;
                        position: relative;
                        display: block;
                        padding-bottom: 5px;
                        @include responsive(sm){
                            white-space: nowrap;
                        }
                    }
                    &.active{
                        a{
                            color: var(--color-green);
                            &::after{
                                content: "";
                                display: block;
                                width: 100%;
                                height: 5px;
                                background-color: var(--color-green);
                                position: absolute;
                                bottom: -2px;
                                left: 0;
                            }
                        }
                    }
                }
            }
            .panel{
                h2{
                    &:first-of-type{
                        display: none;
                    }
                }
            }
        }
    }
}