.woocommerce-order-received {
    .woocommerce-order {
        .woocommerce-order-overview {
            @include responsive(sm) {

                &::before,
                &::after {
                    content: none;
                }

                margin: 0 0 1em;
                padding: 0;
                border-radius: 5px;
                overflow: hidden;
                border-top: 1px solid var(--color-gray-300);
                border-left: 1px solid var(--color-gray-300);
                background-color: var(--color-gray-100);

                li {
                    display: block;
                    font-size: .9em;
                    float: none;
                    border: 0;
                    padding: .75em 1.5em;
                    margin: 0;
                    background: #FFF;
                    border-bottom: 1px solid var(--color-gray-300) !important;
                    border-right: 1px solid var(--color-gray-300) !important;

                    &:nth-child(even) {
                        background: #fbfbfb;
                    }

                    .awdr-you-saved-text {
                        font-size: .8em;
                        display: none;
                    }

                    strong {
                        display: inline-block;
                        color: var(--primary-color);
                        font-size: 1em;
                    }
                }
            }
        }

        .woocommerce-bacs-bank-details {
            margin-top: 2em;

            .wc-bacs-bank-details-heading {
                font-size: 1em;
            }

            .wc-bacs-bank-details-account-name {
                font-size: 1.1em;
                font-weight: bold;
            }

            .wc-bacs-bank-details {
                margin: 0 0 1em;
                padding: 0;
                border-radius: 5px;
                overflow: hidden;
                border: 1px solid var(--color-gray-200);
                background-color: var(--color-gray-100);

                &::before,
                &::after {
                    content: none;
                }

                li {
                    display: block;
                    font-size: .9em;
                    float: none;
                    border: 0;
                    padding: 1em 1.5em;
                    margin: 0;
                    background: #FFF;

                    &:nth-child(even) {
                        background: #fbfbfb;
                    }

                    strong {
                        display: inline-block;
                        font-size: 1em;
                    }
                }
            }
        }

        .woocommerce-order-details {
            margin-top: 2em;

            .woocommerce-order-details__title {
                font-size: 1em;
            }

            .woocommerce-table {
                border-radius: 5px;
                border: 1px solid var(--color-gray-200);
                background-color: var(--color-gray-100);

                td,
                th {
                    padding: 1em;
                }

                th {
                    font-weight: 500;
                }

                .product-name {
                    a {
                        color: #000;
                        text-decoration: none;
                        font-weight: 500;
                    }

                    .wc-item-meta {
                        margin: 0;
                        padding: 0;
                        font-size: .8em;
                        opacity: .8;

                        li {
                            line-height: 1.2;
                            font-weight: 300;
                        }

                        strong {
                            font-weight: 400;
                        }
                    }
                }

                .awdr-you-saved-text {
                    display: none;
                }
            }
        }

        .woocommerce-customer-details {
            margin-top: 2em;

            .woocommerce-column__title {
                font-size: 1em;
            }

            .woocommerce-column {
                margin-bottom: 2em;

                .woocommerce-column__title {
                    font-size: 1em;
                }
            }

            address {
                border-radius: 5px;
                border: 1px solid var(--color-gray-200);
                background-color: var(--color-gray-100);
                padding: 1em;
            }
        }
    }
}