@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --color-green: #8CC340;
    --color-red: theme('colors.tt-red');
    --color-green-600: theme('colors.lime.600');
    --color-green-100: theme('colors.green.100');
    --color-red-700: theme('colors.red.700');
    --color-yellow: theme('colors.yellow.400');
    --color-gray-50: theme('colors.gray.50');
    --color-gray-100: theme('colors.gray.100');
    --color-gray-300: theme('colors.gray.300');
    --color-gray-600: theme('colors.gray.600');
    --box-shadow: theme('boxShadow.md');
}
body{
    font-weight: theme('fontWeight.light') !important;
}